* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(24, 23, 23);
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: white; 
}

.header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 20px;
  z-index: 100; /* Ensure the header is above other elements */
}

.nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.nav_links {  
  list-style-type: none;
  display: flex;
}

.nav_link {
  margin-left: 20px;
}

.nav_link a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav_link a:hover {
  color: #1440e0; 
}

.side-pane {
  position: fixed;
  margin-top: 80px; 
  margin-left: 50px;
  width: 250px; 
  float: left; 
  margin-right: 20px; 
}

.zoom-container {
  width: 165px; 
  height: 165px; 
  border-radius: 50%; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.zoom-container img {
  width: 105%; 
  height: 116%; 
  object-position: 90%;
}

.content {
  animation: fadeIn 5s; 
 }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.profile_links {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.profile_links a:hover {
  color: #1440e0; 
}

.github-icon {
  color: #ffffff; 
  font-size: 14px; 
  margin-top: 10px; 
}

ul {
  list-style-type: none; 
}

.content-section {
  margin-top: 80px; 
  margin-left: 320px;
  display: flex; 
}

.content {
  display: flex; 
  align-items: center; 
}

.text {
  margin-left: 20px; 
}

.content img {
  border-radius: 10%;
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.line-container {
  width: 1000%; 
}

.line {
  border-bottom: 2px solid rgb(255, 255, 255); 
}

.logo-image {
  width: 100px; 
  height: auto; 
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  background-color: #191818;
  color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #1c4cfa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1440e0;
}

.container {
  border-radius: 5px;
  background-color: #0d0c0c;
  padding: 20px;
}